/* CSS declarations go here */
body{
    background-color: black;
}
div.slide {
    height:500px;
    width:800px;
    background-color: white;
    overflow:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
};
